
<section class=" grid grid-cols-2 gap-x-1">
    <mat-form-field class="mx-1 px-2 col-span-2" color="accent">
        <mat-label>Agregar </mat-label>
        <input 
        class="bg-[#0c4a6e] [&::-webkit-inner-spin-button]:appearance-none"
        id="input{{currencyType}}"
        required="true"
        min="0"
        type="number"
        matInput
        (keyup.enter)="addInput($event)" >
        <mat-icon matSuffix class="text-white" (click)="addInput($event)">control_point</mat-icon>
        <mat-hint>Enter para agregar</mat-hint>
        
    </mat-form-field>
    <section class="col-span-2 flex justify-between px-3">
        <div class="px-1 shrink-0">
            <label for="clean" class=" text-gray-600 text-sm font-semibold">Limpiar</label>
            <button (click)="resetTable();" id="clean" [class]="colors[color].button + ' w-10 p-2 mx-1 hover:font-bold hover:bg-cyan-800 hover:text-white hover:cursor-pointer'" matTooltip="Limpiar columna">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hover:font-bold ">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                  </svg>
            </button>
        </div>
        <div class="">
            <label for="total" class="p-2 text-gray-600 text-sm font-semibold">Piezas</label>
            <button
            [class]="colors[color].button + ' w-28'" 
            id="total" 
            > {{receiptsArray.length}}
            </button> 
        </div>
        
        <div>
            <label for="total" class="p-2 text-gray-600 text-sm font-semibold">Total</label>
            <button
            [class]="colors[color].button + ' w-28'" 
            id="total" 
            > {{currencyTotal | currency}}
            </button>
        </div>
    </section>
</section>

<form [formGroup]="cardReceipts" >
    <ng-container formArrayName="receiptsArray"> 
        <table *ngIf="receiptsArray.length > 0" class="w-full table-auto text-center divide-y divide-gray-400">
            <thead class="bg-gray-50">
                <tr>
                    <th class="md:px-6 px-1 py-1.5 text-xs text-gray-500">
                        No.
                    </th>
                    <th class="md:px-6 px-1 py-1.5 text-xs text-gray-500">
                        Importe
                    </th>
                    <th class="md:px-6 px-1 py-1.5 text-xs text-gray-500">Eliminar</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-300">
                <tr 
                class="whitespace-nowrap" 
                *ngFor="let input of receiptsArray.controls.slice().reverse(); index as i" [class]="colors[color].table"
                [formGroupName]="receiptsArray.length-(i+1)">
                    
                    <td class="md:px-4 p-0.5 text-sm text-white">
                        <mat-label>{{i+1}}</mat-label>
                    </td>
                    <td class="md:px-4 p-0.5 text-sm text-gray-700">
                            <input
                            class="focus:bg-pink-300 focus:text-gray-800 focus:font-semibold bg-indigo-50 outline-none border-indigo-700 rounded pl-2 w-28"  
                            type="number"
                            min="0" 
                            id="input{{i}}" 
                            formControlName="currencyValue"
                            (keyup)="calculateTotal()">
                    </td>
                    <td>
                        <mat-icon class="mt-1.5 hover:cursor-pointer" (click)="deleteInput(receiptsArray.length-(i+1), 'cards')">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>                                  
                        </mat-icon>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </ng-container>
</form>