<section>
    <section class="grid h-screen -mb-48 place-items-center relative z-0">

    
            <div class="grid grid-cols-4 square gap-5">                
                <div id="color1" class="bg-[#115f9a] w-full"></div>
                <div id="color2" class="bg-[#8ecae6] w-full"></div>
                <div id="color3" class="bg-amber-500 w-full"></div>
                <div id="color4" class="bg-purple-700 w-full"></div>
            </div>
            <div class="second-square bg-gray-900 border border-neutral-50 rounded-lg z-10 absolute py-4 px-8 text-white">

                <div id="title" class="m-10  rounded-lg">
                    <h1 class="text-center font-extrabold text-lg">Sitio de corte de Cajas</h1>
                </div>
                <section class="flex">

                    <div>
                        <h3 class="font-bold text-lg m-2">Acceso a sitios</h3>
                        <ul class="px-2">
                            <li class="hover:bg-[#115f9a]"><a href="http://intranet.telcel.com:8020/siatemaalterno/inicio.do" target="_blank">Sistema alterno</a></li>
                            <li class="hover:bg-[#115f9a]"><a href="http://intranet2.telcel.com/" target="_blank">Intranet Corporativa</a></li>
                            <li class="hover:bg-[#115f9a]"><a href="http://10.188.42.82:8080/Monitor/Login.jsp" target="_blank">Gerencia de nominas</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold text-lg m-2">Archivos de excel</h3>
                        <ul class="px-2">
                            <li class="hover:bg-[#115f9a]">
                                <a href="https://docs.google.com/spreadsheets/d/1sgA79SJdrAaqniIbpRkaeDlOC_KOuiFu/edit?usp=share_link&ouid=116118776050479064671&rtpof=true&sd=true" 
                                target="_blank">Tiempo extra</a>
                            </li>
                            <li class="hover:bg-[#115f9a]">
                                <a href="https://docs.google.com/spreadsheets/d/1BiGkpwwj7s0z-hP4goiM1af8cPWxRQz6/edit?usp=share_link&ouid=116118776050479064671&rtpof=true&sd=true" 
                                target="_blank">Envío de cortes</a>
                            </li>
                            
                        </ul>
                    </div>
                </section>
            </div>
    </section> 

</section> 